<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="/static/img/favicon.png" type="image/png">
    <link rel="icon" href="/static/img/favicon.png" type="image/png">
    <title>数据之音</title>
    <script type="text/javascript" src="/static/js/tinymce/tinymce.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery3.5.1.js"></script>

    <script>
        function clear(){
            $("#mframe").empty()
        }
    
        function tiny_click(editor) {
             editor.on('click', function (e){clear()})
        }
        
        $("input, textarea").mousedown(clear)
    </script>
    
    <script>
        tinymce.init({
            selector: '#brief',
            language:'zh_CN',
            init_instance_callback: tiny_click
        })
    </script>
    
    <script>
        tinymce.init({
        selector: '#content',
        language:'zh_CN',
        init_instance_callback: tiny_click,
     
        plugins: 'print preview searchreplace autolink directionality visualblocks visualchars fullscreen image template code codesample table charmap hr pagebreak nonbreaking anchor insertdatetime advlist lists wordcount imagetools textpattern help emoticons autosave autoresize   ',
        toolbar: 'code undo redo restoredraft | cut copy paste pastetext | forecolor backcolor bold italic underline strikethrough anchor | alignleft aligncenter alignright alignjustify outdent indent | \
        styleselect formatselect fontselect fontsizeselect | bullist numlist | blockquote subscript superscript removeformat | \
        table image charmap emoticons hr pagebreak insertdatetime print preview | fullscreen |   ',
    
        height: 960, 
        min_height: 600,
    
        images_upload_url: "/files",
        fontsize_formats: '12px 14px 16px 18px 24px 36px 48px 56px 72px',
    
        font_formats: '微软雅黑=Microsoft YaHei,Helvetica Neue,PingFang SC,sans-serif;苹果苹方=PingFang SC,Microsoft YaHei,sans-serif;宋体=simsun,serif;仿宋体=FangSong,serif;黑体=SimHei,sans-serif;Arial=arial,helvetica,sans-serif;Arial Black=arial black,avant garde;Book Antiqua=book antiqua,palatino;',
        
        importcss_append: true,
        autosave_ask_before_unload: false,
        });
    </script>

</head>
<body>
<div>
    <h5 align="center">内容编辑</h5>
    <form method="post" id="form" target="mframe">
        <div style="text-align: center">
            <strong>category</strong>
            <input type="text" name="category" value="{{ .category }}" readonly="readonly"  />
            <strong>title</strong>
            <input type="text" name="title" value="{{ .title }}" readonly="readonly"  /> <br>
        </div>

        <h6 style="text-align: left; color:blue;">摘要</h6>
        <textarea id="brief" name="brief">{{ .brief }}</textarea>

        <h6 style="text-align: left; color:blue;">内容</h6>
        <textarea id="content" name="content">{{.content}}</textarea>

        <div style="padding: 0; margin: 0; float: right;">
            <input type="submit" value="提交" style="background: #FFFFFF; color: blue;">
        </div>
    </form>
    
    <iframe id="mframe" name="mframe"  height="25" style="border-width: 0px; color: red;"></iframe>

</div>

    {{.beian| user_define_safe}}

</body>
</html>
